<template>
  <v-container>
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            
          </v-toolbar-items>
        </v-toolbar>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title>
           Payments Made
            <v-spacer></v-spacer>
            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="items"
            :search="search"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.date }}</td>
              <td class="text-xs-right">{{ props.item.Provider }}</td>
              <td class="text-xs-right">{{ props.item.type }}</td>
              <td class="text-xs-right">{{ props.item.amount }}</td>
              <td class="text-xs-right">{{ props.item.phonenumber }}</td>
              <td class="text-xs-right"><v-switch  v-model="props.item.payed"></v-switch></td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'Date Payed',
          align: 'left',
          sortable: false,
          value: 'date'
        },
        { text: 'Provider', value: 'Provider' },
        { text: 'type', value: 'type' },
        { text: 'amount ', value: 'amount ' },
        { text: 'phonenumber/paybill', value: 'phonenumber' },
        { text: 'payed', value: 'payed' }
      ],
      items: [
        {
          value: false,
          date: 'february 13 2018',
          Provider: 'Provider 1',
          type: 'cash',
          amount: 240,
          phonenumber: '07111232',
          payed: true
        },
        {
          value: false,
          date: 'february 13 2018',
          Provider: 'Provider 2',
          type: 'cash',
          amount: 240,
          phonenumber: '071112322',
          payed: true
        },
        {
          value: false,
          date: 'february 13 2018',
          Provider: 'Provider 3',
          type: 'mpesa',
          amount: 240,
          phonenumber: '0711694232',
          payed: true
        },
        {
          value: false,
          date: 'february 13 2018',
          Provider: 'prodiver 4',
          type: 'paybill',
          amount: 240,
          phonenumber: '3783',
          payed: true
        },
        {
          value: false,
          date: 'february 13 2018',
          Provider: 'provider 5',
          type: 'mpesa',
          amount: 240,
          phonenumber: '0711694312',
          payed: true
        },
        {
          value: false,
          date: 'february 13 2018',
          Provider: 'provider 6',
          type: 'mpesa',
          amount: 240,
          phonenumber: '071169431232',
          payed: true
        },
        {
          value: false,
          date: 'february 13 2018',
          Provider: 'provider 7',
          type: 'paybill',
          amount: 240,
          phonenumber: '31232',
          payed: true
        }
      ]
    }
  }
}
</script>

<style>

</style>
