<template>
  <v-container grid-list-md text-xs-cente>
    <v-layout row wrap v-for="item in Agents" :key="item.ID">
      <v-flex >
        <v-card>
          <v-container fluid grid-list-lg>
            <v-layout row>
              <v-flex xs7>
                <div>
                  <div class="headline">{{item.name}}</div>
                  <div>{{item.ID}}</div>
                </div>
              </v-flex>
              <v-flex xs5>
                <v-card-media
                  :src="item.image"
                  height="125px"
                  contain
                ></v-card-media>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      Agents: [
        {name: 'Agent 1', image: 'http://taobao.90sheji.com/58pic/17/75/62/51B58PICFut.jpg', ID: '123244235456', LicenceNo: '4646434354', PhoneNumber: '078923435', Area: 'Gate c', AciveHours: '10:00 Am-9:00 Pm'},
        {name: 'Agent 2', image: 'https://www.mysubstationii.com/wp-content/uploads/2017/01/delivery-boy-1.png', ID: '123244235456', LicenceNo: '4646434354', PhoneNumber: '078923435', Area: 'Gate c', AciveHours: '10:00 Am-9:00 Pm'},
        {name: 'Agent 3', image: 'https://www.franchiseindia.com/uploads/content/ri/art/lodi-the-garden-restaurant-start-60f6b1bb83.jpg', ID: '123244235456', LicenceNo: '4646434354', PhoneNumber: '078923435', Area: 'Gate c', AciveHours: '10:00 Am-9:00 Pm'},
        {name: 'Agent 4', image: 'https://insideretail.asia/wp-content/uploads/2016/09/Deliver-speed.jpg', ID: '123244235456', LicenceNo: '4646434354', PhoneNumber: '078923435', Area: 'Gate c', AciveHours: '10:00 Am-9:00 Pm'},
        {name: 'Agent 5', image: 'http://localleafletdistributor.com.au/wp-content/uploads/2015/02/Front-image-picture-for-flyer.png', ID: '123244235456', LicenceNo: '4646434354', PhoneNumber: '078923435', Area: 'Gate c', AciveHours: '10:00 Am-9:00 Pm'}
      ]
    }
  }
}
</script>

<style>

</style>
