<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <gmap-map
          :center="center"
          :circle ="circle"
          :zoom="15"
          map-type-id="hybrid"
          style="width: auto; height: 400px"
        >
        <gmap-circle v-if="displayCircle" :bounds="circleBounds" :center="center" :radius="1000000000" :options="{editable: true}" @radius_changed="updateCircle('radius', $event)" @bounds_changed="updateCircle('bounds', $event)"></gmap-circle>
          <gmap-marker
            :key="index"
            v-for="(m, index) in markers"
            :position="m.position"
            :clickable="true"
            :draggable="true"
            @click="center=m.position"
          ></gmap-marker>
        </gmap-map>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
/* eslint-disable */
export default {
  data () {
    return {
      displayCircle: true,
      center: {lat: -1.0997541, lng: 37.012186 },
      markers: [{
        position: {lat: -1.10316524, lng: 37.0211048}
      }, {
        position: {lat: -1.10252226, lng: 37.01368226}
      },
      {
        position: {lat: -1.10250691, lng: 37.01064525}
      }],
      circleBounds:{"south":-1.1298235325365356,"west":36.993665063649246,"north":-1.0841431810034752,"east":37.03935394233292}
    }  
  }
}
  </script>

<style>

</style>
