<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>
           Successfull deliveries
            <v-spacer></v-spacer>
            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="items"
            :search="search"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.date }}</td>
              <td class="text-xs-right">{{ props.item.product }}</td>
              <td class="text-xs-right">{{ props.item.user }}</td>
              <td class="text-xs-right">{{ props.item.provider }}</td>
              <td class="text-xs-right">{{ props.item.charges }}</td>
              <td class="text-xs-right">{{ props.item.deliveredby}}</td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'Date',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        { text: 'product', value: 'product' },
        { text: 'user', value: 'user' },
        { text: 'provider ', value: 'provider ' },
        { text: 'charges', value: 'charges' },
        { text: 'deliveredby', value: 'deliveredby' }
      ],
      items: [
        {
          value: false,
          date: '2018-3-12',
          product: 'this & that',
          user: 'user1',
          provider: 'provider1',
          charges: 400,
          deliveredby: 'agent1'
        },
        {
          value: false,
          date: '2018-3-12',
          product: 'this & that',
          user: 'user2',
          provider: 'provider3',
          charges: 230,
          deliveredby: 'agent2'
        },
        {
          value: false,
          date: '2018-3-12',
          product: 'this & that',
          user: 'user1',
          provider: 'provider1',
          charges: 450,
          deliveredby: 'agent1'
        },
        {
          value: false,
          date: '2018-3-12',
          product: 'this & that',
          user: 'user5',
          provider: 'provider1',
          charges: 50,
          deliveredby: 'agent2'
        },
        {
          value: false,
          date: '2018-3-12',
          product: 'this & that',
          user: 'user5',
          provider: 'provider7',
          charges: 700,
          deliveredby: 'agent4'
        },
        {
          value: false,
          date: '2018-3-12',
          product: 'this & that',
          user: 'user7',
          provider: 'provider5',
          charges: 3400,
          deliveredby: 'agent3'
        },
        {
          value: false,
          date: '2018-3-12',
          product: 'this & that',
          user: 'user4',
          provider: 'provider9',
          charges: 1400,
          deliveredby: 'agent5'
        },
        {
          value: false,
          date: '2018-3-12',
          product: 'this & that',
          user: 'user 7',
          provider: 'provider2',
          charges: 300,
          deliveredby: 'agent3'
        },
        {
          value: false,
          date: '2018-3-12',
          product: 'this & that',
          user: 'user2',
          provider: 'provider1',
          charges: 400,
          deliveredby: 'agent5'
        },
        {
          date: '2018-3-12',
          product: 'this & that',
          user: 'user8',
          provider: 'provider2',
          charges: 200,
          deliveredby: 'agent5'
        }
      ]
    }
  }
}
</script>

<style>

</style>
