<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>Admin<v-icon>keyboard_arrow_right</v-icon>Users</v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 class="mt-2">
        <v-layout row wrap >
          <v-flex xs12>
            <v-toolbar>
              <v-spacer></v-spacer>
              <v-toolbar-items>
                <v-btn flat color="primary" dark @click.stop="dialog = true">Add User</v-btn>
                <v-dialog v-model="dialog" persistent max-width="500px">
                  <v-card>
                    <v-card-title>
                      <span class="headline">User Profile</span>
                    </v-card-title>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-layout wrap>
                          <v-flex xs12 sm6 md4>
                            <v-text-field label="Legal first name" required></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field label="Legal middle name" hint="your middle name"></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6 md4>
                            <v-text-field
                              label="Legal last name"
                              hint="your last name "
                              persistent-hint
                              required
                            ></v-text-field>
                          </v-flex>
                          <v-flex xs12>
                            <v-text-field label="Email" required></v-text-field>
                          </v-flex>
                          <v-flex xs12>
                            <v-text-field label="Password" type="password" required></v-text-field>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-select
                              label="Role"
                              required
                              :items="['admin', 'provider', 'user', 'operator']"
                            ></v-select>
                          </v-flex>
                          <v-flex xs12 sm6>
                            <v-select
                              label="Pemisions"
                              multiple
                              autocomplete
                              chips
                              :items="['Read', 'Read/Write', 'Write', 'None']"
                            ></v-select>
                          </v-flex>
                        </v-layout>
                      </v-container>
                      <small>*indicates required field</small>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
                      <v-btn color="blue darken-1" flat @click.native="dialog = false">Save</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-toolbar-items>
            </v-toolbar>
          </v-flex>
          <v-flex xs12>
            <v-card>
              <v-card-title>
              Payments Made
                <v-spacer></v-spacer>
                <v-text-field
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                  v-model="search"
                ></v-text-field>
              </v-card-title>
              <v-data-table
                :headers="headers"
                :items="users"
                :search="search"
              >
                <template slot="items" slot-scope="props">
                  <td><v-avatar size="30px"><img src="https://d30y9cdsu7xlg0.cloudfront.net/png/81913-200.png" alt="props.item.image" srcset=""></v-avatar></td>
                  <td class="text-xs-right">{{ props.item.name }}</td>
                  <td class="text-xs-right">{{ props.item.phoneNumber }}</td>
                  <td class="text-xs-right">{{ props.item.building}}</td>
                  <td class="text-xs-right">{{ props.item.area}}</td>
                  <td class="text-xs-right">{{ props.item.balance}}</td>
                  <td class="text-xs-right"><v-switch  v-model="myswitch"></v-switch></td>
                </template>
                <v-alert slot="no-results" :value="true" color="error" icon="warning">
                  Your search for "{{ search }}" found no results.
                </v-alert>
              </v-data-table>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      dialog: false,
      myswitch: true,
      users: null,
      headers: [
        {
          text: 'image',
          align: 'left',
          sortable: false,
          value: 'image'
        },
        { text: 'Name', value: 'name' },
        { text: 'Phone Number', value: 'phoneNumber' },
        { text: 'Building ', value: 'building ' },
        { text: 'Area', value: 'area' },
        { text: 'Balance', value: 'balance' },
        { text: 'active', value: 'active' }
      ]
    }
  },
  created () {
    this.$store.dispatch('loadStatsForAdmin')
    .then(stats => {
      this.users = stats.users
    })
  }
}
</script>

<style>

</style>
