<template>  
  <v-layout column>
    <v-alert color="accent" :value="true" class="ma-0" type="success"
      v-if="user.role === 'provider'">
      Welcome {{ user.name }} you are logged in. Visit your dashboard here:<router-link to="/provider/profile"> My Dashboard</router-link>
    </v-alert>
    <section>
      <section-one :loggedIn="userExists"></section-one>
    </section>
    <section>
      <section-two></section-two>
    </section>
    <section>
      <section-three></section-three>
    </section>
    <section>
      <section-four></section-four>
    </section>
  </v-layout>
</template>

<script>
import SectionOne from './sections/One'
import SectionTwo from './sections/Two'
import SectionThree from './sections/Three'
import SectionFour from './sections/Four'

export default {
  computed: {
    user () {
      if (this.$store.getters.fetchUser) {
        return this.$store.getters.fetchUser
      } else {
        return {}
      }
    },
    userExists () {
      return this.user.userId != null
    },
    snackbar () {
      return !this.$store.getters.isLoading
    }
  },
  components: {
    'section-one': SectionOne,
    'section-two': SectionTwo,
    'section-three': SectionThree,
    'section-four': SectionFour
  }
}
</script>

<style scoped>
@media (max-width: 600px){
  #main-container {
    background-image: url('../../assets/landing-page-xs.jpg');
    height: 100vh;
  }
}
@media (min-width: 600px) and (max-width: 960px){
  #main-container {
    background-image: url('../../assets/landing-page-sm.jpg');
    height: 100vh;
  }
}
@media screen and (min-width: 960px){
  #main-container {
    background-image: url('../../assets/landing-page-md.jpg');
    height: 90vh;
  }
}
#main-container {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#section-two {
  background-color: #212121;
}
#section-three {
  background-image: url('../../assets/gradient-bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
