<template>
  <v-layout class="ma-1">
    <v-flex xs12 sm8 offset-sm2>
      <v-stepper v-model="step">
        <v-stepper-header>
          <v-stepper-step step="1">Cart Items</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="2">Delivery Address</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="3">Payment</v-stepper-step>
        </v-stepper-header>
        <v-alert type="warning" v-if="!userExists && !isCartEmpty" :value="true">
          <router-link to="/login/new-user">CREATE ACCOUNT</router-link> OR <router-link to="/login/user">LOG IN</router-link> to proceed with checkout
        </v-alert>
        <v-alert type="warning" v-if="userIsProvider && !isCartEmpty" :value="true">
          You are logged in as a provider. You cannot proceed with checkout
        </v-alert>
        <v-stepper-content step="1">          
          <v-list v-if="items.length > 0" two-line>
            <template v-for="(item, index) in items">
              <v-list-tile avatar download>
                <v-list-tile-avatar tile><img :src="item.imageUrl"></v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>{{ item.name }}</v-list-tile-title>
                  <v-list-tile-sub-title>Ksh. {{ item.price }}/=</v-list-tile-sub-title>
                </v-list-tile-content>
                <v-btn icon @click.native="removeFromCart(index)" class="error--text text-xs-right pr-0 mr-0"><v-icon>delete</v-icon></v-btn>
              </v-list-tile>
              <v-divider></v-divider>
            </template>
          </v-list>
          <div v-if="items.length > 0" class="title text-xs-right ma-2 pb-2">= Ksh. {{ cartValue }}</div>
          <div v-else class="text-xs-center mb-4">
            <v-icon x-large>error</v-icon>
            <h3 class="grey--text title">No items in cart</h3>
          </div>
          <div class="pa-1">
            <v-btn primary block outline :disabled="!allowed" @click.native="step = 2" class="text-xs-center">Next</v-btn>
          </div>
        </v-stepper-content>
        <v-stepper-content step="2">
          <v-layout row wrap>
            <v-flex xs12 md6>
              <v-subheader v-text="'Residential Area'"></v-subheader>
            </v-flex>
            <v-flex xs12 md6>
              <v-select
                :items="areas"
                v-model="area"
                label="Zone"
                required
                autocomplete
              ></v-select>
            </v-flex>
          </v-layout>
          <v-divider></v-divider>
          <v-layout row wrap class="mt-4">
            <v-flex xs12 md6>
              <v-subheader>Residential Building</v-subheader>
            </v-flex>
            <v-flex xs12 md6>
              <v-text-field
                name="building"
                label="Residential Building"
                id="building"
                hint="Example: Sinaryd Towers, Opposite PM Arcade"
                required
                v-model="building"
              ></v-text-field>
            </v-flex>
          </v-layout>
          <div class="text-xs-center pa-1">
            <v-btn primary block outline :loading="saving" @click.native="saveOrder"
              :disabled="area.length < 0 || building.length < 10">Save Order</v-btn>
          </div>
        </v-stepper-content>
        <v-stepper-content step="3">
          <v-layout row wrap>
            <v-flex xs12>
              <div class="text-xs-center">
                <v-avatar tile size="200">
                  <img src="/static/till-number.jpg" alt="Mpesa till number: 697145">
                </v-avatar>
              </div>
            </v-flex>
            <v-flex xs12>
              <div class="mt-2">
                <h1 class="title">Top up your account free of charge using our Buy Goods and Services Till Numer</h1>
                <p class="body-1">
                  1. Go to Safaricom M-Pesa <br>
                  2. Select Lipa na M-Pesa <br>
                  3. Select Buy Goods and Services <br>
                  4. Enter till number 697145 <br>
                  5. Enter amount. In this case, no less than <span class="success--text">KSh. {{ amountDue }}</span> <br>
                  6. Wait for M-Pesa confirmation message <br>
                </p>
                <v-divider></v-divider>
                <h1 class="title mt-3">After payment has been confirmed by M-Pesa, your account will be credited with the amount</h1>
                <p>
                  1. Visit <router-link to="/user/orders">My orders</router-link> to link the payment with the order<br>
                  2. Done!
                </p>
              </div>
            </v-flex>
          </v-layout>      
        </v-stepper-content>
      </v-stepper>
      <div>
        <v-btn depressed to="/user/products" color="secondary ml-0"><v-icon left>arrow_back</v-icon>back to products</v-btn>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    data () {
      return {
        step: 0,
        area: '',
        building: '',
        areas: ['Gate A', 'Gate B', 'Gate C', 'Oasis'],
        mpesaCode: null,
        saving: false,
        confirming: false,
        orderKey: null,
        amountDue: 0
      }
    },
    methods: {
      removeFromCart (index) {
        this.$store.commit('removeFromCart', index)
      },
      finish () {
        this.confirming = true
        setTimeout(() => {
          this.confirming = false
          this.$router.push('/user/order-received')
        }, 400)
      },
      saveOrder () {
        this.saving = true
        this.$store.dispatch('saveOrder', {
          location: {
            area: this.area,
            building: this.building
          }
        }).then(order => {
          this.saving = false
          this.$store.commit('clearCart')
          this.orderKey = order.key
          this.amountDue = order.totalAmount
          this.step = 3
        })
      }
    },
    computed: {
      items () {
        return this.$store.getters.cartItems
      },
      cartValue () {
        let total = 0
        for (let item of this.items) {
          total += parseInt(item.price)
        }
        return total
      },
      user () {
        return this.$store.getters.fetchUser || {}
      },
      userExists () {
        return Object.keys(this.user).length > 0
      },
      userIsProvider () {
        return this.user.role === 'provider'
      },
      isCartEmpty () {
        return this.items.length === 0
      },
      allowed () {
        return !this.isCartEmpty && this.userExists && !this.userIsProvider
      }
    },
    mounted () {
      this.area = this.user.area
      this.building = this.user.building
    }
  }
</script>
