<template>
  <v-flex xs12>
    <v-btn block :disabled="!currentDetails.approved" @click.native="dialog = true" :dark="currentDetails.approved">
      Edit<v-icon right>mode_edit</v-icon>
    </v-btn>
    <v-dialog fullscreen transition="dialog-bottom-transition" v-model="dialog">
      <v-card>
        <v-toolbar dark>
          <v-spacer></v-spacer>
          <v-btn dark outline icon @click.native="dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text>
          <v-text-field name="name" label="Name" v-model="editableName"></v-text-field>
          <v-text-field name="location" label="Location" v-model="editableLocation"></v-text-field>
          <v-text-field name="descritpion" label="Description" v-model="editableDescription" multi-line></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-flex class="text-xs-right">
            <v-btn dark @click.native="onSaveChanges">Save</v-btn>
          </v-flex>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-flex>
</template>

<script>
export default {
  props: ['currentDetails'],
  data () {
    return {
      dialog: false
    }
  },
  methods: {
    onSaveChanges () {
      const changes = {}
      if (this.editableName !== this.currentDetails.name) {
        changes.name = this.editableName
      }
      if (this.editableLocation !== this.currentDetails.location) {
        changes.location = this.editableLocation
      }
      if (this.editableDescription !== this.currentDetails.description) {
        changes.description = this.editableDescription
      }
      if (changes !== {}) {
        this.$store.dispatch('editProviderDetails', changes)
      }
      this.dialog = false
    }
  },
  created () {
    this.editableName = this.currentDetails.name
    this.editableLocation = this.currentDetails.location
    this.editableDescription = this.currentDetails.description
  }
}
</script>
