<template>
  <v-layout align-center id="loading-container">
    <v-flex xs12 class="text-xs-center">
      <v-progress-circular indeterminate color="primary"></v-progress-circular>
    </v-flex>
  </v-layout>
</template>

<style scoped>
#loading-container{
  height: 100vh;
}
</style>
