<template>
  <v-card class="pa-3 yellow lighten-3">
    <div v-if="error">
      <app-error @dismissed="onDismissed" :message="error.message"></app-error>
    </div>
    <v-form v-model="isPhoneValid">
      <v-layout row wrap v-if="beforeSMS">
        <v-flex xs12>
          <v-text-field
          label="Phone Number"
          required
          :rules="numberRules"
          v-model="phoneNumber"></v-text-field>
        </v-flex>
        <v-flex xs12>                
          <v-btn block depressed :disabled="!isPhoneValid" color="primary" id="submit-button" @click.native="sendSMS">Submit</v-btn>
        </v-flex>
      </v-layout>
      <v-layout v-else wrap>
        <v-flex xs12>
          <v-text-field v-model="code" :disabled="loading"
            label="Enter Confirmation Message"></v-text-field>
        </v-flex>
        <v-flex xs12>
          <v-btn block depressed :loading="loading" @click.native.stop="submitCode" color="primary">Confirm</v-btn>
        </v-flex>
      </v-layout>
    </v-form>
  </v-card>
</template>

<script>
import * as firebase from 'firebase'

export default {
  data () {
    return {
      isPhoneValid: false,
      beforeSMS: true,
      phoneNumber: '',
      numberRules: [
        v => !isNaN(v) || 'This must be a number',
        v => v.length === 10 || 'Phone No. must be ten digits'
      ],
      code: '',
      confirmationResult: null,
      loading: false,
      error: null
    }
  },
  methods: {
    onDismissed () {
      this.error = null
    },
    sendSMS () {
      firebase.auth().signInWithPhoneNumber(this.standardizedPhoneNumber, window.recaptchaVerifier)
        .then(confirmationResult => {
          // SMS sent. Prompt user to type the code from the message, then sign the
          // user in with confirmationResult.confirm(code)
          this.confirmationResult = confirmationResult
        })
        .catch(error => {
          if (error.code === 'auth/captcha-check-failed') return
          this.error = error
        })
    },
    submitCode () {
      this.confirmationResult.confirm(this.code)
        .then(result => {
          this.loading = true
        })
        .catch(error => {
          if (error.code === 'auth/invalid-verification-code') {
            this.error = {
              message: 'Invalid verification code. Reload to resend verification code'
            }
          }
        })
    }
  },
  computed: {
    standardizedPhoneNumber () {
      return '+254' + this.phoneNumber.substr(1)
    },
    user () {
      return this.$store.getters.fetchUser
    }
  },
  mounted () {
    window.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('submit-button', {
      'size': 'invisible',
      'callback': response => {
        // reCaptcha solved, allow sign in with Phone Number
        this.beforeSMS = false
      },
      'expired-callback': () => {
        // response expired. Ask user to solve reCaptcha again.
        location.reload()
      }
    })
  }
}
</script>

