<template>
  <v-layout fill-height row justify-center align-center>
    <v-flex xs12 sm6 md4 class="pa-1">
      <v-alert type="info" v-model="infoText">
        {{ infoText }}
      </v-alert>
      <log-in-card></log-in-card>
    </v-flex>
  </v-layout>
</template>

<script>
import LoginCard from './LoginCard'

export default {
  props: ['type'],
  data () {
    return {
      alert: false
    }
  },
  computed: {
    user () {
      return this.$store.getters.fetchUser
    },
    infoText () {
      if (this.type === 'new-user' || this.type === 'new-provider') {
        return 'To create an account, we need to verify your phone number'
      }
    }
  },
  components: {
    'log-in-card': LoginCard
  },
  watch: {
    user (val) {
      if (!val) return
      if (this.type === 'new-provider') {
        this.$store.dispatch('newProvider').then(() => {
          this.$router.push('/provider/profile')
        })
      } else {
        switch (val.role) {
          case 'provider':
            this.$router.push('/provider/profile')
            break
          default:
            if (val.name) {
              this.$router.push('/user/products')
            } else {
              this.$router.push('/user/edit-info')
            }
        }
      }
    }
  }
}
</script>
