<template>
  <v-container>
    <v-layout>
      <v-flex xs12>
         <v-list two-line subheader>
          <v-subheader inset>Approved</v-subheader>
          <v-list-tile avatar v-for="item in providers" :key="item.title" @click="">
            <v-list-tile-avatar>
              <v-avatar> <img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" alt=""></v-avatar>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.name}}</v-list-tile-title>
              <v-list-tile-sub-title>{{ item.phoneNumber }}</v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-layout row wrap>
                <v-flex class="ma-2"><span>Approved</span></v-flex>
                <v-flex><v-switch  v-model="item.approved" ></v-switch></v-flex>
              </v-layout>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider inset></v-divider>
        </v-list>
      </v-flex>
      <v-flex>
        <v-layout>
          <v-flex v-for="item in users" :key="item.title">
            <v-card>
              <v-card-media :src="item.avatar"></v-card-media>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      status: true,
      providers: null
    }
  },
  created () {
    this.$store.dispatch('loadStatsForAdmin')
    .then(stats => {
      const provider = stats.providers
      const approvedproviders = []
      for (let i = 0; i < provider.length; i++) {
        if (provider.approved !== false) {
          approvedproviders.push(provider[i])
        }
      }
      this.providers = approvedproviders
    })
  }
}
</script>

<style>

</style>
