<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>Admin<v-icon>keyboard_arrow_right</v-icon>Providers</v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 class="mt-2">
        <div>
          <v-toolbar color="cyan" dark tabs>        
            <v-toolbar-title>Our Providers</v-toolbar-title>
            <v-spacer></v-spacer>        
            <v-tabs
              fixed-tabs
              v-model="currentItem"
              color="transparent"
              slider-color="yellow"
              slot="extension"
            >
              <v-tab
                v-for="item in items"
                :key="item"
                :href="'#tab-' + item.id"
              >
                {{ item.Title }}
              </v-tab>
            </v-tabs>
          </v-toolbar>
          <v-tabs-items v-model="currentItem" >
            <v-tab-item
              v-for="item in items"
              :key="item.id"
              :id="'tab-' + item.id"
            >
              <v-card flat>
                <v-card-text>
                  <component :is="item.component"></component>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import approved from '@/components/admin/providerstatus/approved'
import disapproved from '@/components/admin/providerstatus/disapproved'
import waiting from '@/components/admin/providerstatus/waiting'
export default {
  data () {
    return {
      component: 'approved',
      currentItem: 'tab-1',
      items: [
        {id: 1, Title: 'Approved Providers', component: 'approved'},
        {id: 2, Title: 'Waiting Providers', component: 'waiting'},
        {id: 3, Title: 'UnApproved Providers', component: 'disapproved'}

      ]
    }
  },
  components: {
    approved,
    disapproved,
    waiting
  }
}
</script>

<style>

</style>
