<template>
  <v-layout>
    <v-flex xs12 sm8 md6 offset-sm2 offset-md3>
      <v-stepper v-model="step">
        <v-stepper-header>
          <v-stepper-step step="1" :complete="step > 1">Details</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="2" :complete="step > 2">Image</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="3">Confirm</v-stepper-step>
        </v-stepper-header>
        <v-stepper-content step="1">
          <v-form v-model="isValid">
            <v-text-field label="Name" v-model="name"
              :counter="25" :rules="nameRules" required></v-text-field>
            <v-text-field label="Price" v-model="price"
              hint="Price e.g. 250" :rules="priceRules" required></v-text-field>
            <v-text-field label="Description" multi-line v-model="description" 
              :rules="descriptionRules" :counter="300" required></v-text-field>
            <div class="text-xs-center">
              <v-btn flat :disabled="!isValid" @click.native="toStepTwo">Next<v-icon>arrow_right</v-icon></v-btn>
            </div>
          </v-form>
        </v-stepper-content>
        <v-stepper-content step="2">
          <v-layout row wrap>
            <v-flex xs12>
              <div class="text-xs-center">
                <v-btn v-if="!isImageValid" block @click="onPickFile">Upload Image</v-btn>
                <v-btn v-else block @click="onPickFile">Upload Image</v-btn>
                <v-spacer></v-spacer>
                <input type="file" style="display:none" ref="fileInput" accept="image/x" @change="onFilePicked">
                <img class="hidden-sm-and-up" :src="imageUrl" width="300px">
                <img class="hidden-xs-only" :src="imageUrl" width="600px">
                <v-divider></v-divider>
                <v-btn flat @click.native="step = 1"><v-icon>arrow_left</v-icon>Back</v-btn>
                <v-btn flat :disabled="!isImageValid" @click.native="toPreview">Next<v-icon>arrow_right</v-icon></v-btn></v-btn>
              </div>
            </v-flex>
          </v-layout>
        </v-stepper-content>
        <v-stepper-content step="3">
          <v-layout>
            <v-flex xs12>
              <v-card class="elevation-3">
                <v-card-media :src="imageUrl" height="300px">
                </v-card-media>
                <v-card-title primary-title>
                  <div>
                    <h3 class="headline mb-0">{{name}}</h3>
                    <span class="grey--text">Kshs. {{price}}/=</span>
                    <div>{{description}}</div>
                  </div>
                </v-card-title>
                <v-card-actions>
                  <div class="text-xs-center">
                    <v-btn @click.native="addItem" :loading="loading">Save</v-btn>
                    <v-btn @click.native="restart">Edit</v-btn>
                  </div>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-stepper-content>
      </v-stepper>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data () {
    return {
      step: 0,
      isValid: false,
      name: '',
      price: null,
      description: '',
      imageUrl: '',
      image: null,
      isImageValid: false,
      nameRules: [
        v => !!v || 'Name is required',
        v => v.length <= 25 || 'This name is too long'
      ],
      priceRules: [
        v => !isNaN(v) || 'The price must be a number'
      ],
      descriptionRules: [
        v => !!v || 'A description is required',
        v => v.length >= 50 || 'Please provide more information',
        v => v.length <= 300 || 'Too many words'
      ]
    }
  },
  computed: {
    loading () {
      return this.$store.getters.isLoading
    }
  },
  methods: {
    toStepTwo () {
      this.step = 2
    },
    toPreview () {
      this.step = 3
    },
    onPickFile () {
      this.$refs.fileInput.click()
    },
    onFilePicked (event) {
      const files = event.target.files
      let filename = files[0].name
      if (filename.lastIndexOf('.') <= 0) {
        return alert('Please add a valid file!')
      }
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        this.imageUrl = fileReader.result
        this.isImageValid = true
      })
      fileReader.readAsDataURL(files[0])
      this.image = files[0]
    },
    addItem () {
      this.$store.dispatch('addItem', {
        name: this.name,
        description: this.description,
        price: this.price,
        image: this.image
      }).then(() => {
        this.$router.push('/provider/products')
      })
    },
    restart () {
      this.step = 1
    }
  }
}
</script>

