<template>
  <v-layout row wrap>
    <v-flex xs12 v-if="loading">
      <v-progress-linear light :indeterminate="true" background-color="white" color="black" class="mt-0"></v-progress-linear>
    </v-flex>
    <v-flex xs12 v-else>
      <v-layout row wrap>
        <v-flex xs12 md8 sm6 offset-md2 offset-sm3 class="pa-2">
          <v-alert v-if="!approved" type="warning" :value="true">
            <p>Await approval to manage the products you're selling</p>
          </v-alert>
          <v-btn block :dark="approved" :disabled="!approved" to="/provider/add-products">Add new Product</v-btn>
        </v-flex>
        <v-flex xs12 sm4 md3 v-for="(product, index) in myProducts" :key="index" class="pa-1">
          <v-card>
            <v-card-media :src="product.imageUrl" height="200px">
            </v-card-media>
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">{{product.name}}</h3>
                <div>{{product.description}}</div>
                <div class="subheading text-xs-right">Ksh. {{product.price}}/=</div>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat color="orange" @click.native="remove(product.key)">Remove</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  computed: {
    myProducts () {
      return this.$store.getters.myProducts
    },
    loading () {
      return this.$store.getters.isLoading
    },
    approved () {
      return this.$store.getters.fetchUser.approved
    }
  },
  methods: {
    remove (key) {
      this.$store.dispatch('deleteMyProduct', key)
    }
  }
}
</script>

