<template>
  <v-bottom-sheet v-model="sheet">
    <v-btn flat small icon slot="activator" color="accent" @click="fetchProduct">
      <v-icon>more_vert</v-icon>
    </v-btn>
    <v-card>
      <v-card-title class="title">
        <div>
          <span class="subheading">{{ product.providerName }}</span><br/>
          <span class="body-1 grey--text">{{ product.providerLocation }}</span>
        </div>
        </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        {{ product.description }}
      </v-card-text>
    </v-card>
  </v-bottom-sheet>
</template>

<script>
export default {
  props: ['productId'],
  data () {
    return {
      sheet: false,
      product: {
        provider: '',
        description: ''
      }
    }
  },
  methods: {
    fetchProduct () {
      this.product = this.$store.getters.findProductById(this.productId)
    }
  }
}
</script>

