<template>
  <div>
    <v-btn small flat icon @click.native.stop="onClickMore" color="accent">
      <v-icon>more_vert</v-icon>
    </v-btn>
    <v-dialog v-model="dialog" max-width="400">
      <v-card>
        <v-card-title class="headline pb-0">
          <div>{{ product.providerName }}</div><v-spacer></v-spacer>
          <div class="subheading grey--text">Location: {{product.providerLocation}}</div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text class="body-2">{{ product.description }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="green--text darken-1 text-xs-right" flat="flat" @click.native="dialog = false">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: ['productId'],
  data () {
    return {
      dialog: false,
      product: {
        provider: '',
        description: ''
      }
    }
  },
  methods: {
    onClickMore () {
      this.dialog = !this.dialog
      this.product = this.$store.getters.findProductById(this.productId)
    }
  }
}
</script>

