<template>
  <v-container fluid class="pa-0">
    <router-view></router-view>
  </v-container>
</template>

<script>
export default {
  computed: {
    userExists () {
      let user = this.$store.getters.fetchUser || {}
      return Object.keys(user).length > 0
    }
  }
}
</script>

