<template>
<v-container  >
  <v-layout row wrap>
    <v-flex xs12>
      <v-card>
        <v-card-title>Admin<v-icon>keyboard_arrow_right</v-icon>Dash</v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
  <v-layout class="ma-2">
    <v-container grid-list-md>
      <v-layout>
        <v-flex sm3 >
          <v-card>
            <v-card-text class="text-xs-center elevation-14"><span class="display-3">{{usercount}}</span><br><span>Users</span></v-card-text>
          </v-card>
        </v-flex>
        <v-flex sm3 >
          <v-card  >
            <v-card-text class="text-xs-center elevation-14"><span class="display-3">{{ordercount}}</span><br><span>Orders</span></v-card-text>
          </v-card>
        </v-flex>
        <v-flex sm3 >
          <v-card  color="amber">
            <v-card-text class="text-xs-center elevation-14"><span class="display-3">{{providercount}}</span><br><span>Providers</span></v-card-text>
          </v-card>
        </v-flex>
        <v-flex sm3 >
          <v-card   color="blue">
            <v-card-text class="text-xs-center elevation-14"><span class="display-3">4000</span><br><span> Balance</span></v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    
  </v-layout>
  <v-layout >
    <v-container grid-list-md>
      <v-layout row wrap>
        <v-flex xs12 sm6 >
          <v-card>
            <v-card-title class="text-xs-center">Orders Per month</v-card-title>
            <v-divider></v-divider>
            <v-card-media height="300px" >
              <pie-chart class="elevation-14" :data="chartData" :donut="true"></pie-chart>          
            </v-card-media>
          </v-card>
        </v-flex>
        <v-flex xs12 sm6>
          <v-card height="350px">
            <v-card-title>
              Our Providers
              <v-spacer></v-spacer>
              <v-text-field
                append-icon="search"
                label="Search"
                single-line
                hide-details
                v-model="search"
              ></v-text-field>
            </v-card-title>       
            <v-data-table
              :headers="headers"
              :items="providers"
              :search="search"
            >
              <template slot="items" slot-scope="props">
                <td>{{ props.item.name }}</td>
                <td class="text-xs-right">{{ props.item.phoneNumber}}</td>
                <td class="text-xs-right">{{ props.item.description }}</td>
                <td class="text-xs-right">{{ props.item.location}}</td>
                <td class="text-xs-right">{{ props.item.rating }}</td>
                <td class="text-xs-right"><v-switch label="Approved" v-model="props.item.approved" ></v-switch></td>
              </template>
              <v-alert slot="no-results" :value="true" color="error" icon="warning">
                Your search for "{{ search }}" found no results.
              </v-alert>
            </v-data-table>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-layout>
</v-container>
</template>

<script>
/* eslint-disable */
export default {
  data () {
    return {
      chartData: [["Jan", 4], ["Feb", 2], ["Mar", 10], ["Apr", 5], ["May", 3]],
      search: '',
      providers: null,
      orders: null,
      users: null,
      ordercount: null,
      usercount: null,
      providercount: null,
      headers: [
        {
          text: 'Provider Name',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        { text: 'phone Number', value: 'phoneNumber' },
        { text: 'Description', value: 'description' },
        { text: 'Location', value: 'location' },
        { text: 'Rating', value: 'rating' },
        { text: 'available', value: 'approved' }
      ]
    }
  },
  created () {
    this.$store.dispatch('loadStatsForAdmin')
    .then(stats => {
     this.orders = stats.orders
     this.providers = stats.providers
     this.users = stats.users
     this.ordercount = stats.orders.length
     this.usercount = stats.users.length
     this.providercount = stats.providers.length
    })
  },
}
</script>

<style>

</style>
