<template>
  <v-layout>
    <v-flex sm3 class="ma-2 hidden-sm-and-down"> 
      <v-navigation-drawer permanent>
        <v-toolbar flat>
          <v-list>
            <v-list-tile>
              <v-list-tile-title class="title">
                Application
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-toolbar>
        <v-divider></v-divider>
        <v-list dense class="pt-0" v-for="item in navbaritems" :key="item.title">
          <v-list-tile  @click="current_component = item.comp">
            <v-list-tile-action>
              <v-icon color="red darken-2">{{item.icon}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{item.title}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
    </v-flex>
    <v-flex xs12  sm12 md9 class="ma-2"> 
      <component :is="current_component"></component>
    </v-flex>
  </v-layout>
</template>

<script>
import dash from '@/components/admin/dash'
import users from '@/components/admin/Users/users'
import providers from '@/components/admin/providerstatus/providers'
import Statistics from '@/components/admin/stats/statistics'
import delivery from '@/components/admin/Delivery/delivery'
import orders from '@/components/admin/Orders/orders'
import accounts from '@/components/admin/Accounts/accounts'
import monitization from '@/components/admin/Monitization/monitization'
export default {
  data () {
    return {
      date: 'now',
      current_component: 'app-dash',
      navbaritems: [{icon: 'apps', title: 'DashBoard', comp: 'app-dash'}, {icon: 'people', title: 'Users', comp: 'app-users'}, {icon: 'people', title: 'Monitization', comp: 'app-monitization'}, {icon: 'motorcycle', title: 'Delivaries', comp: 'app-delivery'}, {icon: 'shopping_cart', title: 'All Orders', comp: 'app-orders'}, {icon: 'wc', title: 'Providers', comp: 'app-providers'}, {icon: 'poll', title: 'Statistics', comp: 'app-statistics'}, {icon: 'account_balance', title: 'Accounts', comp: 'app-accounts'}]
    }
  },
  components: {
    'app-dash': dash,
    'app-users': users,
    'app-providers': providers,
    'app-delivery': delivery,
    'app-orders': orders,
    'app-statistics': Statistics,
    'app-accounts': accounts,
    'app-monitization': monitization
  }
}
</script>

<style>

</style>
