<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>
           All Orders
            <v-spacer></v-spacer>
            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="orders"
            :search="search"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.created }}</td>
              <td class="text-xs-right">{{ props.item.userphoneNumber }}</td>
              <td class="text-xs-right">{{ props.item.totalAmount }}</td>
              <td class="text-xs-right">{{ props.item.provider }}</td>
              <td class="text-xs-right">{{ props.item.charges }}</td>
              <td class="text-xs-right">{{ props.item.deliveredby}}</td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      orders: null,
      headers: [
        {
          text: 'Date',
          align: 'left',
          sortable: false,
          value: 'created'
        },
        { text: 'product', value: 'userphoneNumber' },
        { text: 'Amount', value: 'totalAmount' }
      ]
    }
  },
  created () {
    this.$store.dispatch('loadStatsForAdmin')
    .then(stats => {
      this.orders = stats.orders
    })
  }
}
</script>

<style>

</style>
