<template>
  <v-layout>
    <v-flex xs12 md8 offset-md2>
      <v-card class="mb-2">
        <v-card-title>
          <div>
            <h3 class="title">{{ user.name }}</h3>
            <p class="ma-0 body-1">
              Amount in account: 
              <span class="success--text">
                KSh. {{ user.balance || 0 }}
              </span>
            </p>
          </div>
          <v-spacer></v-spacer>
          <div class="text-xs-right">
            <v-btn icon :loading="refreshing" @click="refreshBalance">
              <v-icon>autorenew</v-icon>
            </v-btn>
          </div>
        </v-card-title>
      </v-card>
      <v-layout v-if="orders" wrap>
        <v-flex xs12 sm6 v-for="(order, index) in orders" :key="index">
          <v-card :flat="order.processed" :color="order.processed ? 'grey lighten-2' : ''" class="ma-1">
            <v-card-title primary-title>
              <div>
                <h1 class="subheading">Created {{ order.created | date }}</h1>
                <span class="grey--text">Total amount: KSh. {{ order.totalAmount }}</span>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat :disabled="order.processed" @click="removeOrder(order)">Delete</v-btn>
              <description-dialog class="hidden-xs-only" :items="order.items"></description-dialog>
              <description-bottom-sheet class="hidden-sm-and-up" :items="order.items" :processed="order.processed"></description-bottom-sheet>
              <v-spacer></v-spacer>
              <v-btn depressed :disabled="order.totalAmount > user.balance || order.processed" :loading="order.transacting" color="accent" @click="pay(order)">pay now</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-snackbar multi-line :timeout="10000" bottom color='success' v-model="snackbar">
      Your Order has been successfully processed. We will contact you when we have your order delivered!
    </v-snackbar>
  </v-layout>
</template>

<script>
import BottomSheet from './descriptions/bottomsheet'
import Dialog from './descriptions/dialog'

export default {
  data () {
    return {
      refreshing: false,
      snackbar: false,
      orders: []
    }
  },
  computed: {
    user () {
      return this.$store.getters.fetchUser
    }
  },
  methods: {
    refreshBalance () {
      this.refreshing = true
      this.$store.dispatch('loadBalance')
        .then(() => {
          this.refreshing = false
        })
    },
    pay (order) {
      order.transacting = true
      this.$store.dispatch('payForOrder', order)
        .then(() => {
          this.snackbar = true
          order.transacting = false
          order.processed = true
        })
    },
    removeOrder (order) {
      const index = this.orders.indexOf(order)
      if (index !== -1) {
        this.orders.splice(index, 1)
      }
    }
  },
  created () {
    this.$store.dispatch('loadOrders')
      .then(orders => {
        for (let order of orders) {
          order.transacting = false
        }
        this.orders = orders.reverse()
      })
      .catch(error => {
        console.log(error)
      })
  },
  components: {
    'description-bottom-sheet': BottomSheet,
    'description-dialog': Dialog
  }
}
</script>
