<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title class="text-xs-center">Our Exenditure</v-card-title>
          <v-divider></v-divider>
          <v-card-media height="300px" >
            <bar-chart :data="chartData"></bar-chart>
          </v-card-media>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      chartData: [ ['Marketing', 1000], ['Delivery', 3000], ['Development', 1000], ['Messaging', 1200] ]
    }
  }
}
</script>

<style>

</style>
