<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title class="text-xs-center">Sales / expenditure</v-card-title>
          <v-divider></v-divider>
          <v-card-media height="300px" >
            <column-chart :data="chartData"></column-chart>
          </v-card-media>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      chartData: [ ['sales', 4000], ['marketing', 3000], ['Delivery', 1000], ['development', 1200] ]
    }
  }
}
</script>

<style>

</style>
