<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title class="text-xs-center">Orders Per Products Per month</v-card-title>
          <v-divider></v-divider>
          <v-card-media height="300px" >
            <line-chart :data="chartData" />
          </v-card-media>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      chartData: [
        {name: 'Food', data: {'January': 300, 'february': 400, 'march': 100, 'April': 100}},
        {name: 'Drinks', data: {'January': 600, 'february': 300, 'march': 400, 'April': 200}},
        {name: 'Shops', data: {'January': 500, 'february': 100, 'march': 500, 'April': 300}},
        {name: 'Laundry', data: {'January': 200, 'february': 400, 'march': 600, 'April': 500}}
      ]
    }
  }
}
</script>

<style>

</style>
