<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title class="text-xs-center">Products sales per category</v-card-title>
          <v-divider></v-divider>
          <v-card-media height="300px" >
            <line-chart :data="chartData" />
          </v-card-media>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      chartData: [
        {name: 'Food', data: {'January': 3000, 'february': 4000, 'march': 1000, 'April': 1000}},
        {name: 'Drinks', data: {'January': 6000, 'february': 3000, 'march': 4000, 'April': 2000}},
        {name: 'Shops', data: {'January': 5000, 'february': 1000, 'march': 5000, 'April': 3000}},
        {name: 'Laundry', data: {'January': 2000, 'february': 4000, 'march': 6000, 'April': 500}}
      ]
    }
  }
}
</script>

<style>

</style>
