<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title class="text-xs-center">Revenue Per month</v-card-title>
          <v-divider></v-divider>
          <v-card-media height="300px" >
            <line-chart :data="chartData"></line-chart>
          </v-card-media>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      chartData: [ ['January', 1000], ['February', 3000], ['March', 1000], ['April', 1200] ]
    }
  }
}
</script>

<style>

</style>
