<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>Admin<v-icon>keyboard_arrow_right</v-icon>Statistics</v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 class="mt-2">
        <div>
          <v-toolbar color="cyan" dark tabs>        
            <v-toolbar-title>Our Statistics</v-toolbar-title>
            <v-spacer></v-spacer>        
            <v-tabs
              fixed-tabs
              v-model="currentItem"
              color="transparent"
              slider-color="yellow"
              slot="extension"
            >
              <v-tab
                v-for="item in items"
                :key="item"
                :href="'#tab-' + item.id"
              >
                {{ item.Title }}
              </v-tab>
            </v-tabs>
          </v-toolbar>
          <v-tabs-items v-model="currentItem" >
            <v-tab-item
              v-for="item in items"
              :key="item.id"
              :id="'tab-' + item.id"
            >
              <v-card flat>
                <v-card-text>
                  <component :is="item.component"></component>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import expenditure from '@/components/admin/stats/expenditure'
import orders from '@/components/admin/stats/orders'
import products from '@/components/admin/stats/products'
import provider from '@/components/admin/stats/provider'
import revenue from '@/components/admin/stats/revenue'
import users from '@/components/admin/stats/users'
import financialreport from '@/components/admin/stats/financialreport'
export default {
  data () {
    return {
      component: 'approved',
      currentItem: 'tab-1',
      items: [
        {id: 1, Title: 'Finance Report', component: 'financialreport'},
        {id: 2, Title: 'Revenue', component: 'revenue'},
        {id: 3, Title: 'Expenditure', component: 'expenditure'},
        {id: 4, Title: 'Products', component: 'products'},
        {id: 5, Title: 'Orders', component: 'orders'},
        {id: 6, Title: 'Users', component: 'users'},
        {id: 7, Title: 'Providers', component: 'provider'}

      ]
    }
  },
  components: {
    expenditure,
    orders,
    products,
    provider,
    revenue,
    users,
    financialreport

  }
}
</script>

<style>

</style>
