<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title class="text-xs-center">Number Of Registered Users Per month</v-card-title>
          <v-divider></v-divider>
          <v-card-media height="300px" >
            <line-chart :data="chartData" />
          </v-card-media>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      chartData: [ ['January', 100], ['February', 300], ['March', 100], ['April', 120] ]
    }
  }
}
</script>

<style>

</style>
