<template>
  <v-layout row wrap>
    <v-flex xs12 sm6 md4 lg3
    class="pa-1"
    v-for="item in favorites"
    :key="item.id">
      <v-card>
        <v-card-media
        :src="item.src"
        height="200px">
          <v-btn dark fab
          class="red darken-3 caption">
            {{ item.price }}/=
          </v-btn>
        </v-card-media>
        <v-card-title primary-title 
        class="pt-0 pb-0">
          <v-layout row>
            <v-flex xs9 class="subheading pt-2">
              {{ item.title }}
            </v-flex>
            <v-flex xs1>
              <v-btn info flat small icon 
              @click="addToCart(item.id)">
                <v-icon>add_shopping_cart</v-icon>
              </v-btn> 
            </v-flex>
            <v-flex xs1>
              <v-btn flat small icon
              @click="removeFavorite(item.id)" 
              :class="item.favorite ? 'error--text' : ''">
                <v-icon>favorite</v-icon>
              </v-btn>
            </v-flex>
            <v-flex xs1 class="hidden-sm-and-up">
              <app-bottom-sheet :productIndex="indexOfFavorite(item.id)"></app-bottom-sheet>
            </v-flex>
            <v-flex xs1 class="hidden-xs-only">
              <app-description-dialog :productIndex="indexOfFavorite(item.id)"></app-description-dialog>
            </v-flex>
          </v-layout>
        </v-card-title>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  methods: {
    addToCart (itemId) {
      this.$store.dispatch('addFavoriteToCart', itemId)
    },
    removeFavorite (itemId) {
      this.$store.dispatch('removeFavorite', itemId)
    },
    indexOfFavorite (itemId) {
      return this.$store.getters.favoriteIndex(itemId)
    }
  },
  computed: {
    favorites () {
      return this.$store.getters.favorites
    }
  }
}
</script>
