<template>
  <v-layout align-center>
    <v-flex xs12 sm8 md6 offset-sm2 offset-md3>
      <v-card class="pa-3 ma-1">
        <v-form v-model="valid" ref="form" lazy-validation>
          <v-text-field label="Name" v-model="name"
            :rules="nameRules" :counter="25" required></v-text-field>
          <v-select label="Residential Area" v-model="area"
            :items="areas" :rules="[v => !!v || 'Item is required']" required></v-select>
          <v-text-field label="Residential Building" v-model="building" hint="Be descriptive. Example: Criss House, near Danemas and Safaricom booster."
            :counter="50" required></v-text-field>
          <router-link to="terms">Terms and Conditions</router-link>
          <v-checkbox label="Do you agree?" v-model="agreed"
            :rules="[v => !!v || 'You must agree to continue!']" required></v-checkbox>
          <v-btn @click="submit" :loading="loading" :disabled="!valid">
            submit
          </v-btn>
          <v-btn :disabled="loading" @click="clear">clear</v-btn>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data () {
    return {
      valid: true,
      loading: false,
      name: '',
      area: '',
      building: '',
      agreed: false,
      areas: ['Gate A', 'Gate B', 'Gate C'],
      nameRules: [
        v => !!v || 'Name is required',
        v => (v && v.length <= 25) || 'Name must be less than 25 characters'
      ]
    }
  },
  methods: {
    submit () {
      if (this.$refs.form.validate()) {
        this.loading = true
        this.$store.dispatch('editUserDetails', {
          name: this.name,
          area: this.area,
          building: this.building
        }).then(() => {
          this.$router.push('/user/products')
        })
      }
    },
    clear () {
      this.$refs.form.reset()
    }
  }
}
</script>

