<template>
  <v-layout row wrap>
    <app-loading v-if="loading"></app-loading>
    <v-layout v-else row wrap>
      <v-flex xs12 sm6 md4 lg3 class="pa-2" v-for="(item, index) in items" :key="item.id">
        <v-card class="elevation-10">
          <v-card-media
          :src="item.imageUrl"
          height="200px" >
          </v-card-media>
          <v-card-title primary-title class="pt-1 pb-0 pr-3 pl-2">
            <v-layout row wrap>
              <v-flex xs10 class="headline pt-1">
                {{ item.name }}
              </v-flex>
              <v-flex xs1>
                <v-btn flat small icon @click="editFavorite(index)" :class="item.favorite ? 'error--text' : 'grey--text'"><v-icon>favorite</v-icon></v-btn> 
              </v-flex>
              <v-flex xs1 class="hidden-sm-and-up">
                <app-bottom-sheet :productId="item.id"></app-bottom-sheet>
              </v-flex>
              <v-flex xs1 class="hidden-xs-only">
                <app-description-dialog :productId="item.id"></app-description-dialog>
              </v-flex>
            </v-layout>
          </v-card-title>
          <v-card-text class="pt-0 pb-2 pl-2 pr-2">
            <v-layout>
              <v-flex>
                <p class="subheading pl-1 pt-1 mb-0">KSh. {{ item.price }}/=</p>
              </v-flex>
              <v-flex class="text-xs-right">
                <v-btn small depressed color="accent" class="text-xs-right ma-0" @click="addToCart(item.id)">buy<v-icon small right>add_shopping_cart</v-icon></v-btn>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
      <v-snackbar :timeout="2000" bottom color='success' v-model="snackbar">
        <span class="ma-2">Successfully added to cart</span>
      </v-snackbar>
    </v-layout>
  </v-layout>
</template>

<script>
export default {
  data () {
    return {
      show: false,
      snackbar: false,
      loading: false
    }
  },
  methods: {
    addToCart (id) {
      this.snackbar = true
      this.$store.commit('addToCart', id)
    },
    editFavorite (id) {
      this.$store.dispatch('editFavorite', id)
    }
  },
  computed: {
    items () {
      return this.$store.getters.products
    }
  },
  mounted () {
    if (this.items.length > 0) return
    this.loading = true
    this.$store.dispatch('loadProducts')
      .then(() => {
        this.loading = false
      })
  }
}
</script>
