<template>
  <v-layout>
    <v-flex xs12 sm4 offset-sm4>
      <div class="text-xs-center ma-5">
        <v-btn color="accent" depressed large>
          <v-icon left>phone</v-icon>Get In Touch
        </v-btn>
      </div>
    </v-flex>
  </v-layout>
</template>
