<template>
  <v-layout wrap align-center id="main-container">
    <v-flex xs12 md8 offset-md2>
      <v-flex xs12 class="text-xs-center">
        <h1 class="display-2 logo-text mb-3">MyDeliVery</h1>
      </v-flex>
      <v-flex xs12>
        <div class="text-xs-center">
          <v-btn fab class="elevation-18"
            @mouseover="focusedItem = 'food'">
            <v-icon color="primary">restaurant</v-icon>
          </v-btn>
          <v-btn fab class="elevation-18"
            @mouseover="focusedItem = 'drinks'">
            <v-icon color="primary">local_bar</v-icon>
          </v-btn>
          <v-btn fab class="elevation-18"
            @mouseover="focusedItem = 'shop'">
            <v-icon color="primary">shopping_basket</v-icon>
          </v-btn>
          <v-btn fab class="elevation-18"
            @mouseover="focusedItem = 'laundry'">
            <v-icon color="primary">local_laundry_service</v-icon>
          </v-btn>
        </div>
      </v-flex>
      <v-flex xs12 sm6 offset-sm3>
        <v-alert dismissible type="info" v-if="focusedItem == 'food'" v-model="focusedItem">
          Your favourite food is just a few clicks away!
        </v-alert>
        <v-alert dismissible type="info" v-if="focusedItem == 'drinks'" v-model="focusedItem">
          Need a drink? Beer, Wine, Cocktails, Spirits? Get it Now! 
        </v-alert>
        <v-alert dismissible type="info" v-if="focusedItem == 'shop'" v-model="focusedItem">
          Shop for anything in our collection and get it delivered right to your door!
        </v-alert>
        <v-alert dismissible type="info" v-if="focusedItem == 'laundry'" v-model="focusedItem">
          Have your laundry done and delivered to your door!
        </v-alert>
      </v-flex>
      <v-layout row wrap>
        <v-flex xs12 sm6 class="text-xs-center text-sm-right">
          <v-btn large class="elevation-10" color="secondary" @click="explore"
            :loading="loading.explore"
            :disabled="isButtonLoading">
            <v-icon left>shopping_cart</v-icon>Explore Products
          </v-btn>
        </v-flex>
        <v-flex xs12 sm6 class="text-xs-center text-sm-left">
          <v-btn large class="elevation-10" color="amber darken-4" @click="toLogin"
            :loading="loading.login"
            :disabled="isButtonLoading">
            <v-icon left class="hidden-lg-and-up">stars</v-icon>Become A Provider<v-icon right class="hidden-md-and-down">stars</v-icon>
          </v-btn>
        </v-flex>
        <v-flex xs12>
          <div class="text-xs-center subheading" v-if="!loggedIn">
            <span class="blend">Already have an account? </span>
              <router-link to="/login/user">Log in here ...</router-link>
          </div>
          <div class="text-xs-center subheading mt-3" v-else>
            <v-btn outline :loading="loading.signout" :disabled="isButtonLoading" @click="signOut">Sign out
              <v-icon right>exit_to_app</v-icon>
            </v-btn>
          </div>
        </v-flex>
      </v-layout>   
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: ['loggedIn'],
  data () {
    return {
      focusedItem: null,
      loading: {
        explore: false,
        login: false,
        signout: false
      }
    }
  },
  computed: {
    isButtonLoading () {
      return this.loading.explore || this.loading.login || this.loading.signout
    }
  },
  methods: {
    explore () {
      this.loading.explore = true
      this.$router.push('/user/products')
    },
    toLogin () {
      this.loading.login = true
      this.$router.push('/login/new-provider')
    },
    signOut () {
      this.loading.signout = true
      this.$store.dispatch('signOut')
        .then(() => {
          this.loading.signout = false
        })
    }
  }
}
</script>
<style scoped>
.fonts {
  /*
  font-family: 'Hi Melody', cursive;
  font-family: 'East Sea Dokdo', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Cormorant Garamond', serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Great Vibes', cursive;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Kaushan Script', cursive;
  font-family: 'Cardo', serif;
  font-family: 'Tangerine', cursive;
  font-family: 'Marck Script', cursive;
  font-family: 'Cookie', cursive;
  */
}
.logo-text {
  font-family: 'Pacifico', cursive;
}
</style>
