<template>
  <v-layout wrap id="section-three">
    <v-flex xs12>
      <h2 class="display-1 mt-4 text-xs-center" style="cursor: pointer;"
        @click="$vuetify.goTo('#section-three')">WHAT ARE WE ALL ABOUT?</h2>
      <v-divider class="mt-4 mb-4"></v-divider>
    </v-flex>
    <v-flex xs12 sm8 md6 offset-sm2 offset-md3>
      <v-card hover class="mb-5 transparent">
        <v-card-media src="/static/coffee-and-biscuits.jpg" height="250px"></v-card-media>
        <v-card-title>
          <div>
            <h3 class="headline mb-1 white--text">FOR LOCAL BUSINESSES</h3>
            <p class="body-1 white--text">We provide an online marketplace for you to sell your products and share with your customers.
              Improving your online presence.</p>
          </div>
        </v-card-title>
        <v-card-actions>
          <v-flex class="text-xs-right">
            <v-btn outline  block large dark>Learn more
              <v-icon right>near_me</v-icon>
            </v-btn>
          </v-flex>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
