<template>
  <v-layout wrap id="section-two">
    <v-flex xs12>
      <h2 class="headline mt-4 text-xs-center white--text " style="cursor: pointer;"
        @click="$vuetify.goTo('#section-two')">WHAT SETS US APART?</h2>
      <v-divider dark class="mt-4 mb-4"></v-divider>
    </v-flex>
    <v-flex xs12>
      <v-layout row wrap>
        <v-flex xs12 md4>
          <v-card class="transparent elevation-0">
            <v-card-text class="text-xs-center">
              <v-avatar size="100px" class="secondary">
                <v-icon x-large dark>search</v-icon>
              </v-avatar>
            </v-card-text>
            <v-card-title>
              <v-alert outline :value="true" color="secondary">
                Find what you need!
              </v-alert>
            </v-card-title>
          </v-card>
        </v-flex>
        <v-flex xs12 md4>
          <v-card class="transparent elevation-0">
            <v-card-text class="text-xs-center">
              <v-avatar size="100px" class="secondary">
                <v-icon x-large dark>directions_bike</v-icon>
              </v-avatar>
            </v-card-text>
            <v-card-title>
              <v-alert outline :value="true" color="secondary">
                Fast, Easy and Effecient!
              </v-alert>
            </v-card-title>
          </v-card>
        </v-flex>
        <v-flex xs12 md4>
          <v-card class="transparent elevation-0">
            <v-card-text class="text-xs-center">
              <v-avatar size="100px" class="secondary">
                <v-icon x-large dark>weekend</v-icon>
              </v-avatar>
            </v-card-text>
            <v-card-title>
              <v-alert outline :value="true" color="secondary">
                All these with comfort!
              </v-alert>
            </v-card-title>
          </v-card>
        </v-flex>
        <v-flex xs12 sm10 offset-sm1>
          <p class="white--text ma-4 pt-5 pb-5 subheading">
            This is by far the most convenient and reliable delivery platform out there.
            DeliVary is a platform backed by only the best goods providers around.
            <br>
            We do our best to listen to our users and provide what they crave accordingly,
            in the shortest time possible.
            <br>
            Our web app is user friendly and with just a few clicks you'll be a second away
            from your desired item, may it be delicious food, your favorite drink or a simple snack.
            Join us and embark on a journey of instant and effortless fullfillment of your food
            and drink cravings.
          </p>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>
