<template>
  <v-layout>
    <input type="file" style="display:none" ref="fileInput" accept="image/*" @change="onFilePicked">
    <v-layout row wrap class="mt-1">
      <v-flex xs12 sm8 offset-sm2 class="pa-1" v-if="!provider.approved">
        <v-alert color="warning" icon="priority_high" value="true">
          Please await approval to be able to edit details and upload products
        </v-alert>
      </v-flex>
      <v-flex xs12 sm3 offset-sm2 class="pa-1">
        <v-card class="pa-2">
          <v-card-media :src="provider.imageUrl" height="200px" class="pa-1"></v-card-media>
          <div v-if="!isImageValid">
            <v-btn block :disabled="!provider.approved" :dark="provider.approved" @click.native="onPickFile">
              change<v-icon right>add_a_photo</v-icon>
            </v-btn>
          </div>
          <div v-else>
            <v-btn block dark :loading="loading" @click.native="onSaveFile">
              save<v-icon right>save</v-icon>
            </v-btn>
          </div>
        </v-card>
      </v-flex>
      <v-flex xs12 sm5>
        <v-layout row wrap>
          <v-flex xs12 class="pa-1">
            <v-card>
              <v-card-text class="pb-0">
                <span class="body-2">Name: </span><span class="body-1">{{provider.name}}</span>            
              </v-card-text>            
              <v-card-text class=" pt-1 pb-0">
                <span class="body-2">Location: </span><span class="body-1">{{provider.location}}</span> 
              </v-card-text>
              <v-card-text class=" pt-1">
                <span class="body-2">Description: </span><span class="body-1">{{provider.description}}</span> 
              </v-card-text>
              <v-card-actions>
                <app-provider-edit-dialog class="hidden-xs-only" :currentDetails="provider"></app-provider-edit-dialog>
                <app-provider-edit-bottom-sheet class="hidden-sm-and-up" :currentDetails="provider"></app-provider-edit-bottom-sheet>            
              </v-card-actions>
            </v-card>
          </v-flex>
          <v-flex xs12 class="pa-1">
            <v-card>
              <v-card-text>
                <span class="body-2">Your Rating:</span>
                <v-icon v-for="item, index in stars" :key="index" color="amber darken-1">{{item}}</v-icon>
              </v-card-text>
              <v-divider></v-divider>
              <v-card-title class="headline pl-2 pb-0">
                <div>Latest Reviews</div>
              </v-card-title>
              <v-card-text v-for="review,index in reviews" :key="index" class="pa-2">
                <span class="body-2">{{review.name || 'Anonymous'}} : </span>
                <span class="body-1">{{review.text}}</span>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>   
      </v-flex>
      <v-snackbar left :timeout="6000" v-model="snackbar">{{snackbarText}}
        <v-btn flat icon @click.native="snackbar = false"><v-icon>close</v-icon></v-btn>
      </v-snackbar>
    </v-layout>
  </v-layout>
</template>

<script>
export default {
  data () {
    return {
      provider: null,
      reviews: [
        { text: 'I like their punctuality' },
        { name: 'Joshua', text: 'I needed a bro real much, they delivered me the best niggar bro I could ever wish for. You guys rock' },
        { name: 'Carol', text: 'I needed a man to take me to my family Christmas. They came through and saved me from the scolding I normally go through' }
      ],
      snackbar: false,
      snackbarText: '',
      image: null,
      isImageValid: false
    }
  },
  methods: {
    onPickFile () {
      this.$refs.fileInput.click()
    },
    onFilePicked (event) {
      const files = event.target.files
      let filename = files[0].name
      if (filename.lastIndexOf('.') <= 0) {
        return alert('Please upload a valid file!')
      }
      const fileReader = new FileReader()
      fileReader.addEventListener('load', () => {
        this.provider.imageUrl = fileReader.result
        this.isImageValid = true
      })
      fileReader.readAsDataURL(files[0])
      this.image = files[0]
    },
    onSaveFile () {
      this.$store.dispatch('uploadProviderPicture', this.image)
        .then(() => {
          this.snackbarText = 'Profile picture uploaded successfully'
          this.snackbar = true
          this.isImageValid = false
        })
    }
  },
  computed: {
    stars () {
      let fullStar, halfStar
      fullStar = Math.floor(this.provider.rating)
      halfStar = (this.provider.rating - fullStar) / 0.5
      let stars = []
      let flag = 0
      for (let i = 0; i < 5; i++) {
        if (fullStar > i) {
          stars[i] = 'star'
        } else if (flag === 0 && halfStar === 1) {
          stars[i] = 'star_half'
          flag = 1
        } else {
          stars[i] = 'star_border'
        }
      }
      return stars
    },
    loading () {
      return this.$store.getters.isLoading
    }
  },
  created () {
    this.provider = this.$store.getters.fetchUser
  }
}
</script>
