<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>Admin<v-icon>keyboard_arrow_right</v-icon>Accounts</v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 class="mt-2">
        <div>
          <v-toolbar color="cyan" dark tabs>        
            <v-toolbar-title>Accounts </v-toolbar-title>
            <v-spacer></v-spacer>        
            <v-tabs
              fixed-tabs
              v-model="currentItem"
              color="transparent"
              slider-color="yellow"
              slot="extension"
            >
              <v-tab
                v-for="item in items"
                :key="item"
                :href="'#tab-' + item.id"
              >
                {{ item.Title }}
              </v-tab>
            </v-tabs>
          </v-toolbar>
          <v-tabs-items v-model="currentItem" >
            <v-tab-item
              v-for="item in items"
              :key="item.id"
              :id="'tab-' + item.id"
            >
              <v-card flat>
                <v-card-text>
                  <component :is="item.component"></component>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </div>
      </v-flex>
    </v-layout>
    
  </v-container>
</template>

<script>
import mysummary from '@/components/admin/Accounts/summary'
import expenditure from '@/components/admin/Accounts/expenditure'
import MpesaTransactions from '@/components/admin/Accounts/mpesatransactions'
import DuePayments from '@/components/admin/Accounts/providerpayments/paymentsdue'
import PaymentsMade from '@/components/admin/Accounts/providerpayments/paymentsmade'
import RefundsReversal from '@/components/admin/Accounts/refunds'
export default {
  data () {
    return {
      component: 'approved',
      currentItem: 'tab-1',
      items: [
        {id: 1, Title: 'Summary', component: 'mysummary'},
        {id: 2, Title: 'Expenditure', component: 'expenditure'},
        {id: 3, Title: 'Mpesa Transactions', component: 'MpesaTransactions'},
        {id: 4, Title: 'Due Payments', component: 'DuePayments'},
        {id: 5, Title: 'Payments Made', component: 'PaymentsMade'},
        {id: 6, Title: 'Refunds/Reversal', component: 'RefundsReversal'}

      ]
    }
  },
  components: {
    mysummary,
    expenditure,
    MpesaTransactions,
    DuePayments,
    PaymentsMade,
    RefundsReversal
  }
}
</script>

<style>

</style>
