<template>
  <v-container>
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn flat color="primary" dark @click.stop="dialog = true">Add Expenditure</v-btn>
            <v-dialog v-model="dialog" persistent max-width="500px">
              <v-card>
                <v-card-title>
                  <span class="headline">New Expenditure</span>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12 sm6 md4>
                        <v-select
                          label="Type"
                          required
                          :items="['Marketing', 'Development', 'Operations', 'other']"
                        ></v-select>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="Expende Name" hint="description of expense"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field
                          label="Expence ID"
                          value="616816234"                              
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field label="Description" required multi-line></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-text-field label="Unit Price"  required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-text-field label="Number of units" type="password" required></v-text-field>
                      </v-flex>                          
                    </v-layout>
                  </v-container>
                  <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
                  <v-btn color="blue darken-1" flat @click.native="dialog = false">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar-items>
        </v-toolbar>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title>
           Expenditure List
            <v-spacer></v-spacer>
            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="items"
            :search="search"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.date }}</td>
              <td class="text-xs-right">{{ props.item.type }}</td>
              <td class="text-xs-right">{{ props.item.item }}</td>
              <td class="text-xs-right">{{ props.item.amount }}</td>
              <td class="text-xs-right">{{ props.item.PaymentType }}</td>
              <td class="text-xs-right">{{ props.item.ExpencedBy}}</td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      dialog: false,
      headers: [
        {
          text: 'Date',
          align: 'left',
          sortable: false,
          value: 'date'
        },
        { text: 'type', value: 'type' },
        { text: 'item', value: 'item' },
        { text: 'amount ', value: 'amount ' },
        { text: 'PaymentType', value: 'PaymentType' },
        { text: 'ExpencedBy', value: 'ExpencedBy' }
      ],
      items: [
        {
          value: false,
          date: 'january 13 2018',
          type: 'Mpesa',
          item: 'Stickers',
          amount: 240,
          PaymentType: 'marketing',
          ExpencedBy: 'roku'
        },
        {
          value: false,
          date: 'january 13 2018',
          type: 'Cash',
          item: 'salary',
          amount: '100',
          PaymentType: 'Delivery',
          ExpencedBy: 'clive'
        },
        {
          value: false,
          date: 'january 13 2018',
          type: 'Cheque',
          item: 'payment',
          amount: 2300,
          PaymentType: 'provider payment',
          ExpencedBy: 'roku'
        },
        {
          value: false,
          date: 'january 13 2018',
          type: 'Cash',
          item: 'domain',
          amount: 1200,
          PaymentType: 'development',
          ExpencedBy: 'clive'
        },
        {
          value: false,
          date: 'january 13 2018',
          type: 'mpesa',
          item: 'rent',
          amount: 4900,
          PaymentType: 'service',
          ExpencedBy: 'murimi'
        },
        {
          value: false,
          date: 'january 13 2018',
          type: 'cash',
          item: 'banners',
          amount: 940,
          PaymentType: 'marketing',
          ExpencedBy: 'clive'
        },
        {
          value: false,
          date: 'january 13 2018',
          type: 'cash',
          item: 'credit',
          amount: 98,
          PaymentType: 'development',
          ExpencedBy: 'roku'
        }
      ]
    }
  }
}
</script>

<style>

</style>
