<template>
  <v-container>
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            
          </v-toolbar-items>
        </v-toolbar>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title>
           Expenditure List
            <v-spacer></v-spacer>
            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="items"
            :search="search"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.date }}</td>
              <td class="text-xs-right">{{ props.item.TransactionCode }}</td>
              <td class="text-xs-right">{{ props.item.type }}</td>
              <td class="text-xs-right">{{ props.item.amount }}</td>
              <td class="text-xs-right">{{ props.item.phonenumber }}</td>
              <td class="text-xs-right">{{ props.item.status}}</td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'Date',
          align: 'left',
          sortable: false,
          value: 'date'
        },
        { text: 'TransactionCode', value: 'TransactionCode' },
        { text: 'type', value: 'type' },
        { text: 'amount ', value: 'amount ' },
        { text: 'phonenumber', value: 'phonenumber' },
        { text: 'status', value: 'status' }
      ],
      items: [
        {
          value: false,
          date: 'january 13 2018',
          TransactionCode: 'M39Y4BDDDVDV',
          type: 'withdrawal',
          amount: 240,
          phonenumber: '07111232',
          status: 'success'
        },
        {
          value: false,
          date: 'january 13 2018',
          TransactionCode: 'M39Y4BDDDdfvdDV',
          type: 'transfer',
          amount: 240,
          phonenumber: '071112322',
          status: 'success'
        },
        {
          value: false,
          date: 'january 13 2018',
          TransactionCode: 'M39Y4BDDSEDV',
          type: 'transfer',
          amount: 240,
          phonenumber: '0711694232',
          status: 'success'
        },
        {
          value: false,
          date: 'january 13 2018',
          TransactionCode: 'M39Y4BDEEDVDV',
          type: 'withdrawal',
          amount: 240,
          phonenumber: '071169431289',
          status: 'failed'
        },
        {
          value: false,
          date: 'january 13 2018',
          TransactionCode: 'M39Y4BDDDVDV',
          type: 'withdrawal',
          amount: 240,
          phonenumber: '0711694312',
          status: 'success'
        },
        {
          value: false,
          date: 'january 13 2018',
          TransactionCode: 'M39Y4BDDDVDV',
          type: 'withdrawal',
          amount: 240,
          phonenumber: '071169431232',
          status: 'success'
        },
        {
          value: false,
          date: 'january 13 2018',
          TransactionCode: 'M39Y4BDDDVDV',
          type: 'withdrawal',
          amount: 240,
          phonenumber: '071169431232',
          status: 'failed'
        }
      ]
    }
  }
}
</script>

<style>

</style>
