<template>
  <v-container>
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn flat color="primary" dark @click.stop="dialog = true">Make a Refund</v-btn>
            <v-dialog v-model="dialog" persistent max-width="500px">
              <v-card>
                <v-card-title>
                  <span class="headline">Make A refund</span>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12 sm6 md4>
                        <v-select
                          label="Type"
                          required
                          :items="['MPESA', 'Cash', 'Cheque', 'other']"
                        ></v-select>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field label="refunded to" hint="client payment made to"></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6 md4>
                        <v-text-field
                          label="refund ID"
                          value="616816234"                              
                        ></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field label="Description" required multi-line></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-text-field label="Amount refunded"  required></v-text-field>
                      </v-flex>
                      <v-flex xs12 sm6>
                        <v-menu
                          ref="menu"
                          lazy
                          :close-on-content-click="false"
                          v-model="menu"
                          transition="scale-transition"
                          offset-y
                          full-width
                          :nudge-right="40"
                          min-width="290px"
                          :return-value.sync="date"
                        >
                          <v-text-field
                            slot="activator"
                            label="Date refunded"
                            v-model="date"
                            prepend-icon="event"
                            readonly
                          ></v-text-field>
                          <v-date-picker v-model="date" no-title scrollable>
                            <v-spacer></v-spacer>
                            <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                            <v-btn flat color="primary" @click="$refs.menu.save(date)">OK</v-btn>
                          </v-date-picker>
                        </v-menu>
                      </v-flex>                          
                    </v-layout>
                  </v-container>
                  <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
                  <v-btn color="blue darken-1" flat @click.native="dialog = false">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-toolbar-items>
        </v-toolbar>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title>
           Payments Made
            <v-spacer></v-spacer>
            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="items"
            :search="search"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.date }}</td>
              <td class="text-xs-right">{{ props.item.refundedTo }}</td>
              <td class="text-xs-right">{{ props.item.type }}</td>
              <td class="text-xs-right">{{ props.item.amount }}</td>
              <td class="text-xs-right">{{ props.item.phonenumber }}</td>
              <td class="text-xs-right"><v-switch  v-model="props.item.approved"></v-switch></td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      dialog: false,
      date: null,
      menu: false,
      headers: [
        {
          text: 'Date approved',
          align: 'left',
          sortable: false,
          value: 'date'
        },
        { text: 'refunded To', value: 'refundedTo' },
        { text: 'type', value: 'type' },
        { text: 'amount ', value: 'amount ' },
        { text: 'phonenumber/paybill', value: 'phonenumber' },
        { text: 'approved', value: 'approved' }
      ],
      items: [
        {
          value: false,
          date: 'february 13 2018',
          refundedTo: 'refundedTo 1',
          type: 'cash',
          amount: 240,
          phonenumber: '07111232',
          approved: true
        },
        {
          value: false,
          date: 'february 13 2018',
          refundedTo: 'refundedTo 2',
          type: 'cash',
          amount: 240,
          phonenumber: '071112322',
          approved: true
        },
        {
          value: false,
          date: 'february 13 2018',
          refundedTo: 'refundedTo 3',
          type: 'mpesa',
          amount: 240,
          phonenumber: '0711694232',
          approved: true
        },
        {
          value: false,
          date: 'february 13 2018',
          refundedTo: 'prodiver 4',
          type: 'paybill',
          amount: 240,
          phonenumber: '3783',
          approved: true
        },
        {
          value: false,
          date: 'february 13 2018',
          refundedTo: 'refundedTo 5',
          type: 'mpesa',
          amount: 240,
          phonenumber: '0711694312',
          approved: true
        },
        {
          value: false,
          date: 'february 13 2018',
          refundedTo: 'refundedTo 6',
          type: 'mpesa',
          amount: 240,
          phonenumber: '071169431232',
          approved: true
        },
        {
          value: false,
          date: 'february 13 2018',
          refundedTo: 'refundedTo 7',
          type: 'paybill',
          amount: 240,
          phonenumber: '31232',
          approved: true
        }
      ]
    }
  }
}
</script>

<style>

</style>
