<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap >
      <v-flex xs12 sm4>
        <v-card   color="blue" height="150px" class="text-xs-center elevation-14 mx-auto" width="200px">
         <div class="value">4000</div><span  class="text"> Account Balance</span>
        </v-card>
      </v-flex>
      <v-flex xs12 sm4>
        <v-card  color="blue" height="150px" class="text-xs-center elevation-14 mx-auto" width="200px">
          <div class="value">4000</div><span  class="text">Payments Due</span>
        </v-card>
      </v-flex>
      <v-flex xs12 sm4>
        <v-card   color="blue" height="150px" class="text-xs-center elevation-14 mx-auto" width="200px">
          <div class="value">4000</div><span  class="text">Payments Made</span>
        </v-card>
      </v-flex>
      <v-flex xs12 sm4>
        <v-card   color="blue" height="150px" class="text-xs-center elevation-14 mx-auto" width="200px">
          <div class="value">4000</div><span  class="text">Total Expenditure</span>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {

}
</script>

<style scoped>
.value {
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
  color: white;
}
.text {
  color: black;
  font-size: 20px;
}
</style>
