<template>
  <v-app>    
    <v-navigation-drawer temporary app width="240" v-model="sideNav">
      <v-list dense>
        <v-list-tile v-for="item, index in menuItems" :key="index" :to="item.link" exact>
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.name }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar fixed dark dense app :color="navColor" v-if="$route.path != '/'">
      <v-toolbar-side-icon @click.stop="sideNav = !sideNav"></v-toolbar-side-icon>
      <v-toolbar-title>
        <router-link to='/' tag='span' style='cursor: pointer'><v-icon dark class="pb-1 pr-1">stars</v-icon>myDelivery</router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn small flat left v-if="isUserPage" :loading="cartLoading" @click="toCart">
          <v-icon>shopping_cart</v-icon>{{ cartQuantity }}
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        sideNav: false,
        altimage: 'static/coffee-and-biscuits.jpg'
      }
    },
    computed: {
      cartQuantity () {
        return this.$store.getters.cartQuantity
      },
      cartLoading () {
        return this.$store.getters.cartLoading
      },
      isLandingPage () {
        return this.$route.name === 'LandingPage'
      },
      isUserPage () {
        return this.$route.path.split('/')[1] === 'user'
      },
      isProviderPage () {
        return this.$route.path.split('/')[1] === 'provider'
      },
      isAdminPage () {
        return this.$route.name === 'AdminPage'
      },
      navColor () {
        if (this.isProviderPage) {
          return 'black'
        } else if (this.isAdminPage) {
          return 'red darken-2'
        } else {
          return 'primary'
        }
      },
      menuItems () {
        // menu Items for User
        if (this.isUserPage) {
          return [
            { name: 'My Orders', link: '/user/orders', icon: 'shopping_basket' },
            { name: 'My Favorites', link: '/user/favorites', icon: 'favorite' },
            { name: 'My History', link: '/user/history', icon: 'history' },
            { name: 'Contact Us', link: '/info/contact', icon: 'phone' }
          ]
        }
        // menu Items for provider
        if (this.isProviderPage) {
          return [
            { name: 'Profile', icon: 'account_circle', link: '/provider/profile' },
            { name: 'My Products', icon: 'view_module', link: '/provider/products' }
          ]
        }
      },
      user () {
        return this.$store.getters.fetchUser
      }
    },
    methods: {
      toCart () {
        this.$store.commit('setCartLoading', true)
        this.$router.push('/user/cart')
      }
    }
  }
</script>
