<template>
  <v-container>
    <v-layout row wrap >
      <v-flex xs12>
        <v-toolbar>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn flat>Add An Item</v-btn>
          </v-toolbar-items>
        </v-toolbar>
      </v-flex>
      <v-flex xs12>
        <v-card>
          <v-card-title>
           Payments Made
            <v-spacer></v-spacer>
            <v-text-field
              append-icon="search"
              label="Search"
              single-line
              hide-details
              v-model="search"
            ></v-text-field>
          </v-card-title>
          <v-data-table
            :headers="headers"
            :items="items"
            :search="search"
          >
            <template slot="items" slot-scope="props">
              <td><v-avatar size="30px"><img :src="props.item.image" alt="" srcset=""></v-avatar></td>
              <td class="text-xs-right">{{ props.item.client }}</td>
              <td class="text-xs-right">{{ props.item.startdate }}</td>
              <td class="text-xs-right">{{ props.item.enddate }}</td>
              <td class="text-xs-right">{{ props.item.description }}</td>
              <td class="text-xs-right">{{ props.item.description }}</td>
              <td class="text-xs-right">{{ props.item.price}}</td>
              <td class="text-xs-right"><v-switch  v-model="props.item.visible"></v-switch></td>
            </template>
            <v-alert slot="no-results" :value="true" color="error" icon="warning">
              Your search for "{{ search }}" found no results.
            </v-alert>
          </v-data-table>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'image',
          align: 'left',
          sortable: false,
          value: 'image'
        },
        { text: 'client', value: 'client' },
        { text: 'start date', value: 'startdate' },
        { text: 'end date ', value: 'enddate ' },
        { text: 'Description', value: 'description' },
        { text: 'Product', value: 'product' },
        { text: 'Price', value: 'Price' },
        { text: 'visible', value: 'visible' }
      ],
      items: [
        {
          value: false,
          image: 'https://d30y9cdsu7xlg0.cloudfront.net/png/81913-200.png',
          client: 'client 1',
          startdate: '2018-4-12',
          enddate: '2018-5-12',
          description: 'this and that',
          product: 'Product 1',
          price: 200,
          visible: true
        },
        {
          value: false,
          image: 'https://d30y9cdsu7xlg0.cloudfront.net/png/81913-200.png',
          client: 'client 2',
          startdate: '2018-4-12',
          enddate: '2018-5-12',
          description: 'this and that',
          product: 'Product 2',
          price: 300,
          visible: true
        },
        {
          value: false,
          image: 'https://cdn.pixabay.com/photo/2016/11/14/17/39/person-1824144_640.png',
          client: 'client 3',
          startdate: '2018-4-12',
          enddate: '2018-5-12',
          description: 'this and that',
          product: 'Product 3',
          price: 600,
          visible: true
        },
        {
          value: false,
          image: 'http://socialhousecafe.co.za/wp-content/uploads/2017/03/person-girl-flat.png',
          client: 'prodiver 4',
          startdate: '2018-4-12',
          enddate: '2018-5-12',
          description: 'this and that',
          product: 'Product 4',
          price: 500,
          visible: true
        },
        {
          value: false,
          image: 'https://www.atomix.com.au/media/2015/06/atomix_user31.png',
          client: 'client 5',
          startdate: '2018-4-12',
          enddate: '2018-5-12',
          description: 'this and that',
          product: 'Product 5',
          price: 200,
          visible: true
        },
        {
          value: false,
          image: 'https://www.shareicon.net/data/2015/09/15/101371_2-chef_512x512.png',
          client: 'client 6',
          startdate: '2018-4-12',
          enddate: '2018-5-12',
          description: 'this and that',
          product: 'Product 6',
          price: 200,
          visible: true
        },
        {
          value: false,
          image: 'https://image.flaticon.com/icons/png/512/306/306473.png',
          client: 'client 7',
          startdate: '2018-4-12',
          enddate: '2018-5-12',
          description: 'this and that',
          product: 'Product 7',
          price: 200,
          visible: true
        }
      ]
    }
  }
}
</script>

<style>

</style>
