<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <v-card-title>Admin<v-icon>keyboard_arrow_right</v-icon>Monitization</v-card-title>
        </v-card>
      </v-flex>
      <v-flex xs12 class="mt-2">
        <div>
          <v-toolbar color="cyan" dark tabs>        
            <v-toolbar-title>Accounts </v-toolbar-title>
            <v-spacer></v-spacer>        
            <v-tabs
              fixed-tabs
              v-model="currentItem"
              color="transparent"
              slider-color="yellow"
              slot="extension"
            >
              <v-tab
                v-for="item in items"
                :key="item"
                :href="'#tab-' + item.id"
              >
                {{ item.Title }}
              </v-tab>
            </v-tabs>
          </v-toolbar>
          <v-tabs-items v-model="currentItem" >
            <v-tab-item
              v-for="item in items"
              :key="item.id"
              :id="'tab-' + item.id"
            >
              <v-card flat>
                <v-card-text>
                  <component :is="item.component"></component>
                </v-card-text>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </div>
      </v-flex>
    </v-layout>
    
  </v-container>
</template>

<script>
import bulksms from '@/components/admin/Monitization/bulksms'
import carouselpromotion from '@/components/admin/Monitization/carouselpromotion'
import pushnotification from '@/components/admin/Monitization/pushnotification'
export default {
  data () {
    return {
      component: 'approved',
      currentItem: 'tab-1',
      items: [
        {id: 1, Title: 'Carousel Promotion', component: 'carouselpromotion'},
        {id: 2, Title: 'Bulk Sms', component: 'bulksms'},
        {id: 3, Title: 'Push Notification', component: 'pushnotification'}
      ]
    }
  },
  components: {
    bulksms,
    carouselpromotion,
    pushnotification
  }
}
</script>

<style>

</style>
