<template>
  <v-bottom-sheet scrollable v-model="sheet">
    <v-btn flat :disabled="processed" slot="activator">details</v-btn>
    <v-card>
      <v-card-title>
        <div class="headline">Order details</div>
        <v-spacer></v-spacer>
        <div>
          <v-btn icon outline @click="sheet = false">
            <v-icon>close</v-icon>
          </v-btn>
        </div>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text v-for="(item, id) in items" :key="id">
        <div>Item Name: {{ item.name }}</div>
        <div>Provider: {{ item.providerName }}</div>
        <div>Unit Price: {{ item.price }}</div>
        <div>Amount: {{ item.amount }}</div>
      </v-card-text>
    </v-card>
  </v-bottom-sheet>
</template>

<script>
export default {
  props: ['items', 'processed'],
  data () {
    return {
      sheet: false
    }
  }
}
</script>

