<template>
  <div>
    <v-btn flat @click="dialog = true">details</v-btn>
    <v-dialog v-model="dialog" max-width="400">
      <v-card>
        <v-card-title>
          <div class="headline">Order details</div>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text v-for="(item, id) in items" :key="id">
          <div>Item Name: {{ item.name }}</div>
          <div>Provider: {{ item.providerName }}</div>
          <div>Unit Price: {{ item.price }}</div>
          <div>Amount: {{ item.amount }}</div>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: ['items'],
  data () {
    return {
      dialog: false
    }
  }
}
</script>

